.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #fff;
    background-color: #0a1bb8;
    border-radius: 1rem;
    padding-bottom: 1rem;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: #fff;
}

.body {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;
}